In [13]:
import os
import pandas as pd

directory = r'C:\Heri\GitHub\.Semester\Data-Mining\03-Tasas-de-Interes-al-Consumo\Datos\Series-csv'

# Dictionary to store dataframes
dataframes = {}

# Iterate over all files in the directory
i = 1
for filename in os.listdir(directory):
    file_path = os.path.join(directory, filename)
    dfname = 'df' + str(i)
    dataframes[dfname] = pd.read_csv(file_path)
    i += 1

df1 = dataframes['df1']
df2 = dataframes['df2']
df3 = dataframes['df3']
df4 = dataframes['df4']
df5 = dataframes['df5']
df6 = dataframes['df6']
df7 = dataframes['df7']
df8 = dataframes['df8']
df9 = dataframes['df9']
df10 = dataframes['df10']
df11 = dataframes['df11']

C:\Users\herie\AppData\Local\Temp\ipykernel_16736\2748294423.py:14: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,81,82,83,84,93,94,95,96,97,98,99,100,101,102,103,104,109,110,111,112,121,122,123,124,157,158,159,160,161,162,163,164,165,166,167,168) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes[dfname] = pd.read_csv(file_path)

In [14]:
df1

,Banco de México,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Tasas y precios de referencia,NaN,NaN,NaN,NaN,NaN
2,Tasas de Interés Interbancarias,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Fecha de consulta: 22/02/2025 04:42:21,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
4826,2025-02-18 00:00:00,9.49,9.7638,9.8435,9.96,N/E
4827,2025-02-19 00:00:00,9.49,9.7739,9.8537,9.9705,N/E
4828,2025-02-20 00:00:00,9.48,9.7638,9.8435,9.96,N/E
4829,2025-02-21 00:00:00,9.51,9.7638,9.8435,9.96,N/E
4830,2025-02-24 00:00:00,N/E,9.7538,9.8332,9.9495,N/E

In [15]:
df2

,Banco de México,Unnamed: 1,https://www.banxico.org.mx/SieInternet/consultarDirectorioInternetAction.do?sector=21&accion=consultarCuadro&idCuadro=CF256&locale=es,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sistemas de pago de bajo valor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Número de tarjetas de crédito y débito,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fecha de consulta: 22/02/2025 04:34:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,2023-07-01 00:00:00,31722205,0,19346,5848918,9036612,4691718,1993475,179853,0,...,0,0,0,0,0,0,0,0,82751680,74523233
88,2023-10-01 00:00:00,37789081,0,19617,6005179,14722455,4625589,2085811,187640,0,...,0,0,0,0,0,0,0,0,97909314,88614995
89,2024-01-01 00:00:00,38747402,0,19497,6168359,15412884,4597449,2132325,194879,0,...,0,0,0,0,0,0,0,0,95460253,85342750
90,2024-04-01 00:00:00,39934013,0,19755,6579001,16208945,4605607,2174083,203053,0,...,0,0,0,0,0,0,0,0,87547998,73546467
91,2024-07-01 00:00:00,41679292,0,20415,7174675,16993273,4677449,2214988,209925,0,...,0,0,0,0,0,0,0,0,98466732,83425937

In [16]:
df3

,Banco de México,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tasas y precios de referencia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Tasas de Interés Interbancarias, Fondeo y Pag...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fecha de consulta: 22/02/2025 05:00:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,2024-09-01 00:00:00,10.73,10.95,11.14,11.29,N/E,N/E,N/E,N/E,N/E,N/E,10.75,10.73,N/E
458,2024-10-01 00:00:00,10.51,10.74,10.89,11.03,N/E,N/E,N/E,N/E,N/E,N/E,10.54,10.52,N/E
459,2024-11-01 00:00:00,10.42,10.61,10.8,10.94,N/E,N/E,N/E,N/E,N/E,N/E,10.46,10.42,N/E
460,2024-12-01 00:00:00,10.25,10.38,10.64,10.78,N/E,N/E,N/E,N/E,N/E,N/E,10.28,10.25,N/E
461,2025-01-01 00:00:00,10,10.28,10.38,10.51,N/E,N/E,N/E,N/E,N/E,N/E,10.03,10,N/E